* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


/* ---------------------------------------navbar css starts here------------------------------------------- */
header .nav {
    height: 75px;

    border-bottom: 1px solid rgb(123, 195, 195);
    display: flex;
    align-items: center;
    /* justify-content: center;
    */

    justify-content: space-between;

}

header {
    position: sticky;
    top: 0;
    background: white;

    padding-left: 1rem;
    padding-right: 1rem;

}


header .nav .manu {
    display: flex;
    justify-content: center;
    list-style: none;
    column-gap: 30px;


}

header .nav button {
    padding: 12px 20px;
    background-color: black;
    color: white;
    border-radius: 30px;
    font-size: 14px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header .nav button:hover {
    color: black;
    background-color: white;
    border: 1px solid black;
}

header li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

header li a:hover {
    color: gray;
}


/* ------------------------------------------------------features css tsrts here------------------------------- */
/* 
.Features{
    display: flex;
} */

.Features .headings {
    display: grid;
    place-items: center;
    column-gap: 20px;

}

.Features .heading1 {
    padding-top: 20px;
    padding-bottom: 15px;
    font-size: x-large;
}

.Features .heading {
    color: gray;
    font-weight: lighter;
}

.container1 .col {
    display: flex;
    padding-left: 12px;



    text-align: center;


}
.container1 .col p{
    color: gray;
   font-size: 13px;
   padding-left: 10px;
}
.container1 .col h4{
    font-size: 18px;
}

.container1 .row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
   
    /* justify-content: space-between; */
    padding: 80px;
    background-color:#D5F3F1;
    border-radius: 15px;
    border: 1px solid black;
}

.container1 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
 
}








/* ----------------------home section -start------------------ */
  section.Home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    background-color:rgba(240, 242, 242, 0.942);
    margin-left: 10px;
  }
/* -----------------part one------------------- */
  section.Home .part-one h1 {
    font-size: 70px;
    
  }
  section.Home .part-one p{
    display: inline-block;
  }
  section.Home .part-one .arrow{
    background: rgb(27, 195, 27);
    padding: 5px;
    border-radius: 50%;
  }
  section.Home .part-one button{
    display: block;
   
  }
  /* ----------------part-two------------------ */
  section.Home .part-two {
    /* display: flex; */
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
    padding: 10px 15px;
    margin-right: 180px;
  }

  section.Home .part-two .chat-section {
    display: inline-block;
    background-color: black;
    color: white;
    padding: 0px 0px;
    margin-bottom: 400px;
    border-radius: 0px 20px 20px 20px;
  }

  section.Home .part-two .message-section button{
    background-color: #fff;
    padding:2px;
    border-radius: 5px;
    margin: 3px 0;
  }

  section.Home  .part-two  .message-section  input{
    display:inline-block;
    padding: 10px 3px;
    border-color: gray;
    color: gray;
    border-radius: 5px;
    
  }
  section.Home .part-two .message-section svg{
    display: inline-block;
    color: white;
    background-color: black;
    /* padding: 20px; */
    box-sizing: 50%;
    cursor: pointer;

    
  }
  section.Home .part-two .message-section p{
    color: grey;
  }




 /* ----------------home section-end------------- */


 /* -----------------------------pricing section start---------------------------- */
 section.Pricing {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:0px auto;
    padding: 90px 140px;
    background-color:rgba(240, 242, 242, 0.942);
     }
     .Pricing p {
      font-size: 10px;
         margin:10px auto;
         align-items: center;
     }
     .Pricing h2{

         text-align: center;
         margin-bottom:20px ;
 
     }
     .card{
      align-items: center;
      border-radius: 1.25rem;
     }

     .col-sm-4 .card .card-body{
         text-align: center;
         width: 25rem;
         padding: 20px 0;
         margin: 0 auto;
     }
     .col-sm-4 .card .card-body h5.card-title{
         padding: 10px 0;
 
     }
     .col-sm-4 .card .card-body .card-text  {
         border: 2px solid black;
         width: 18rem;
         font-size: 14px;
         border-radius: 10px;
         margin: 0 auto;
     }
     .col-sm-4 .card .card-body .card-text p{
      display: inline-block;
     }
     .col-sm-4 .card .card-body .card-text .price{
      font-size: 30px;
      font-weight: bold;
      border-right: 2px solid grey;
      padding-right: 20px;
      margin-right: 20px;
     }
     
     .col-sm-4 .card .card-body a.btn{
         background-color: #ffdc60;
         padding: 10px 90px;
         border-radius: 60px;
     }

     /* --------------------pricing part2------------- */
     .Pricing .row2  {
      display: flex;
      justify-content: space-between;
      width: 1230px;
      background: black;
      height: 12rem;
      border: 2px solid black;
      border-radius: 20px;
      margin: 30px auto;
     }
     .Pricing .row2 .part-A{
      padding: 30px 0 0 30px;
     }
     .Pricing .row2 .part-A h4{
      color: #ffdc60;
      font-weight: 600;
     }

     .Pricing .row2 .part-A .offer{
      display: flex;
      width: 20rem;
      justify-content: center;
      border:2px solid white;
      border-radius: 10px;
      color: #ffdc60;
     }
     .Pricing .row2 .part-A  p.bold {
      font-size: 30px;
      font-weight: bold;
     }
     .Pricing .row2 .part-A .offer p:not(.bold) {
      border-left: 2px solid white;
      padding-left: 20px;
     }

     .Pricing .row2 .part-B a{
        background-color: #ffdc60;
         padding: 10px 50px;
         border-radius: 30px;
         margin-top: 70px;
     }
     .Pricing .row2 .part-C  img{
      padding: 20px;
      
     }



  /* -----------------------------pricing section end--------------------- */